In [1]:
import pandas as pd
from model_utils import *

df_resumes = pd.read_csv('data/ResumeDataSet.csv').iloc[:100]
df_jobs =  pd.read_json('data/li_jobs.json').iloc[:100]

FileNotFoundError: File data/li_jobs.json does not exist

In [50]:
pd.read_csv('data/li_job.zip')

ValueError: Expected object or value

In [16]:
resume_emb = get_dataset_embeddings(df_resumes, columns=['Category', 'Resume'], weights= [0.5, 0.5])
job_emb = get_dataset_embeddings(df_jobs, columns=['title', 'description'], weights= [0.5, 0.5])

Batches:   0%|          | 0/7 [00:00<?, ?it/s]

Batches:   0%|          | 0/7 [00:00<?, ?it/s]

Batches:   0%|          | 0/7 [00:00<?, ?it/s]

Batches:   0%|          | 0/7 [00:00<?, ?it/s]

### Подбор вакансий для резюме из датасета

In [17]:
get_rec_from_dataset(df_resume = df_resumes, df_jobs = df_jobs, prompt_embeddings=resume_emb, jobs_embeddings=job_emb, num_rec=5)

I.T. Skills â¢ Windows XP, Ms Office (Word, Excel: Look-ups; Pivot table; other basic functions ; Power Point) â¢ Saral Payment Package- payroll software â¢ Internet ApplicationsEducation Details
January 2006 Bachelor in Hospitality Management International Hospitality Management  Queen Margaret University Edinburg
January 2006 diploma Hotel Management  International Institute of Hotel Management
HR


Skill Details
Hr Management- Exprience - Less than 1 year monthsCompany Details
company - Atri Developers
description - â¢ HR Payroll Statutory Compliance Performance Management
company -
description - Employee Relations and Administration: Creating industry specific Policies, Procedure, Forms, Formats, Letters, Checklists etc

Payroll Management: Salary restructuring to process payroll of 600 employees.
â¢ Validation of all input (Attendance, Leaves, and Salaries) before starting salary process.
â¢ Processing accurate & error free salary of employees.
â¢ Responsible for compensation

,id,created,last_updated,time_posted,title,description,seniority,employment_type,location,url,...,salary,applicants_count,linkedin_job_id,country,last_updated_ux,redirected_url,redirected_url_hash,job_functions_collection,job_industries_collection,job_status_log_collection
51,132917568,2023-03-30 06:09:32,2023-08-30 12:13:33,3 days ago,Senior Tax Manager - ASC 740,Job Description\n\nJob Summary:\n\nThe Core Ta...,Mid-Senior level,Full-time,"San Jose, CA",https://www.linkedin.com/jobs/view/senior-tax-...,...,None,Be among the first 25 applicants,3542464534,United States,1693397613,https://www.linkedin.com/jobs/view/senior-tax-...,03fc531d545dba6d1df08d697705a9cc,"[{'id': 85911751, 'job_id': 132917568, 'functi...","[{'id': 129267391, 'job_id': 132917568, 'indus...","[{'id': 2028115195, 'job_id': 132917568, 'crea..."
17,120522413,2023-02-06 17:27:47,2023-08-29 23:45:53,1 week ago,Healthcare Recruitment Manager,This is a 100% remote position that rewards pe...,Mid-Senior level,Full-time,"Vadodara, Gujarat, India",https://www.linkedin.com/jobs/view/healthcare-...,...,None,Over 200 applicants,3468325814,India,1693352753,https://www.linkedin.com/jobs/view/healthcare-...,b367137621c2674d650f12bb61317666,"[{'id': 74603543, 'job_id': 120522413, 'functi...","[{'id': 102114492, 'job_id': 120522413, 'indus...","[{'id': 1749455413, 'job_id': 120522413, 'crea..."
69,134769029,2023-03-30 21:38:59,2023-06-08 14:41:46,1 month ago,Systems Analyst III - Hybrid work schedule,Florida Power & Light Company is America’s la...,Entry level,Full-time,"Hialeah, FL",https://www.linkedin.com/jobs/view/systems-ana...,...,None,Be among the first 25 applicants,3498345449,United States,1686064966,https://www.linkedin.com/jobs/view/systems-ana...,274620e364c6905525136febedb288a7,"[{'id': 87721648, 'job_id': 134769029, 'functi...","[{'id': 131089525, 'job_id': 134769029, 'indus...","[{'id': 2035906311, 'job_id': 134769029, 'crea..."
12,108765014,2022-12-22 00:58:03,2023-06-27 00:15:56,5 months ago,Administrative Assistant,"• Assists with various building events, servic...",Entry level,Contract,"Paton, IA",https://www.linkedin.com/jobs/view/administrat...,...,None,Be among the first 25 applicants,3403278552,United States,1687204737,https://www.linkedin.com/jobs/view/administrat...,945089eed8377172ae25862dada94e91,"[{'id': 63739602, 'job_id': 108765014, 'functi...","[{'id': 84252958, 'job_id': 108765014, 'indust...","[{'id': 1525002055, 'job_id': 108765014, 'crea..."
48,132592288,2023-03-29 04:52:43,2023-07-24 14:54:22,2 months ago,Housekeeper,Job Description\n\nIt?s time for a sweeping ch...,Entry level,Full-time,"Vaughan, Ontario, Canada",https://www.linkedin.com/jobs/view/housekeeper...,...,None,Be among the first 25 applicants,3547538662,Canada,1689933392,https://ca.linkedin.com/jobs/view/housekeeper-...,6ff250bb475553bb07c07c320abd06f1,"[{'id': 85612059, 'job_id': 132592288, 'functi...","[{'id': 128606531, 'job_id': 132592288, 'indus...","[{'id': 2020836987, 'job_id': 132592288, 'crea..."

### Подбор вакансий для описания

In [41]:
job_title = 'Junior Data Engineer'

job_text = """
Rewrite following for job resume:
Comprehensive analysis of customer experience in the ATM network through:
- exploring data sources and search for insights;
- data cleaning and processing;
- development and deployment of datamarts;
- calculation and control of product metrics;
- collection and formalization of business requirements;
- dashboards creation.

"""



job_title = 'Master Electrician'

job_text = """
    Technical-minded electrician with XX years of experience installing, repairing, testing, and maintaining electrical systems, wiring, equipment, appliances, and fixtures. Skilled in diagnosing and replacing high-voltage electrical power lines, pole wiring, and underground lines. Adept in managing service calls, troubleshooting electrical systems, and resolving issues with equipment.Skilled in diagnosing and replacing high voltage electrical power lines, pole wiring, and underground lines; installing circuit breakers, transformers, stabilizers, generators, and distribution systems; capable of quickly understanding blueprints, schematics, and technical manuals
    Adept in managing service calls, troubleshooting electrical systems, and resolving issues with equipment; setting-up home and business backup generators with auto transfer switches to ensure minimal downtime in a power outage; directing and training workers to install, maintain, or repair electrical wiring, equipment, and fixtures
"""


get_rec_from_scratch([job_title, job_text], weights=[0.5, 0.5], df_jobs=df_jobs, jobs_embeddings=job_emb, num_rec = 5)

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Max scores: [[[0.38396627 0.38052836 0.37975985 0.37862223 0.37520027]]]

,id,created,last_updated,time_posted,title,description,seniority,employment_type,location,url,...,salary,applicants_count,linkedin_job_id,country,last_updated_ux,redirected_url,redirected_url_hash,job_functions_collection,job_industries_collection,job_status_log_collection
0,58112629,2022-04-18 18:40:28,2023-08-31 03:25:13,1 year ago,Software Developer I,Software Developer I – Ohio\n\nReady to join a...,Entry level,Full-time,"Columbus, OH",https://www.linkedin.com/jobs/view/software-de...,...,None,Be among the first 25 applicants,3031594890,United States,1693452313,https://www.linkedin.com/jobs/view/software-de...,13bfacebdbb53ddc54fa56c99bf7ebdc,"[{'id': 29121530, 'job_id': 58112629, 'functio...","[{'id': 35482858, 'job_id': 58112629, 'industr...","[{'id': 618909385, 'job_id': 58112629, 'create..."
41,131482707,2023-03-23 02:47:04,2023-07-21 09:53:44,2 months ago,Transportation Operations Project Engineer,What You Will Do\n\nGannett Fleming is looking...,Mid-Senior level,Full-time,"Nashville, TN",https://www.linkedin.com/jobs/view/transportat...,...,None,Be among the first 25 applicants,3539500358,United States,1689235944,https://www.linkedin.com/jobs/view/transportat...,15b78e27f2e7bbad528637039d65b11e,"[{'id': 84589493, 'job_id': 131482707, 'functi...","[{'id': 125858594, 'job_id': 131482707, 'indus...","[{'id': 1984529924, 'job_id': 131482707, 'crea..."
33,128591640,2023-03-08 19:43:04,2023-06-15 11:51:25,2 days ago,"Analyst, Customer Accounts",Solutions driven success.\n\nRXO brings togeth...,Mid-Senior level,Full-time,"Charlotte, NC",https://www.linkedin.com/jobs/view/analyst-cus...,...,None,67 applicants,3513506477,United States,1686023989,https://www.linkedin.com/jobs/view/analyst-cus...,93b8d173697cfb21e0d94332ee310255,"[{'id': 81970028, 'job_id': 128591640, 'functi...","[{'id': 118859288, 'job_id': 128591640, 'indus...","[{'id': 1920915112, 'job_id': 128591640, 'crea..."
69,134769029,2023-03-30 21:38:59,2023-06-08 14:41:46,1 month ago,Systems Analyst III - Hybrid work schedule,Florida Power & Light Company is America’s la...,Entry level,Full-time,"Hialeah, FL",https://www.linkedin.com/jobs/view/systems-ana...,...,None,Be among the first 25 applicants,3498345449,United States,1686064966,https://www.linkedin.com/jobs/view/systems-ana...,274620e364c6905525136febedb288a7,"[{'id': 87721648, 'job_id': 134769029, 'functi...","[{'id': 131089525, 'job_id': 134769029, 'indus...","[{'id': 2035906311, 'job_id': 134769029, 'crea..."
8,102557189,2022-11-30 23:45:01,2023-06-06 09:57:15,5 months ago,SAP SD/OTC Consultant,JOB Description: \n\n\n • Strong functional un...,Mid-Senior level,Contract,"Cary, NC",https://www.linkedin.com/jobs/view/sap-sd-otc-...,...,None,Be among the first 25 applicants,3374595362,United States,1685379238,https://www.linkedin.com/jobs/view/sap-sd-otc-...,5ef5d28101e5b07bf9f7abf8fd51b391,"[{'id': 57931444, 'job_id': 102557189, 'functi...","[{'id': 77196891, 'job_id': 102557189, 'indust...","[{'id': 1430430249, 'job_id': 102557189, 'crea..."

In [14]:
df_jobs =  pd.read_csv('data/li_jobs.zip')
df_resumes = pd.read_csv('data/ResumeDataSet.csv')

# TFidf vec

In [7]:
import nltk
from nltk.corpus import stopwords
 
nltk.download('stopwords')
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Катюня\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
corpus = df_jobs.description.values

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer


vectorizer1 = TfidfVectorizer(ngram_range=(1,2),
                             token_pattern=r"(?u)\b[\w/.-]+\b|!|/|\?|\"|\'",
                             stop_words=stop_words)

vectorizer1.fit(corpus)

vocab_df_valid = vectorizer1.get_feature_names_out()

C:\Users\Катюня\PycharmProjects\NLP_explore\venv\lib\site-packages\sklearn\feature_extraction\text.py:409: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ["'"] not in stop_words.
  warnings.warn(

In [10]:
vocab_df_valid

array(['!', '! 140', '! 3', ..., '経験 sqlを用いた複雑なデータ抽出経験', '顧客分析を行い',
       '顧客分析を行い 各種施策の支援'], dtype=object)

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer


vectorizer1 = TfidfVectorizer(ngram_range=(1,2),
                             token_pattern=r"(?u)\b[\w/.-]+\b|!|/|\?|\"|\'",
                             stop_words=stop_words)

vectorizer1.fit(corpus)

vocab_df_valid = vectorizer1.get_feature_names_out()


vectorizer = TfidfVectorizer(ngram_range=(1,2),
                             token_pattern=r"(?u)\b[\w/.-]+\b|!|/|\?|\"|\'",
                             stop_words=stop_words,
                             vocabulary=vocab_df_valid)
vectorizer.fit(corpus)
corpus_tf_idf = vectorizer.transform(corpus)

print(f"length of vectorizer vocab is {len(vectorizer.get_feature_names_out())}")

length of vectorizer vocab is 35402

In [15]:
resume_tf_idf = vectorizer.transform(df_resumes.Resume)

In [41]:
corpus_tf_idf

<100x35402 sparse matrix of type '<class 'numpy.float64'>'
	with 59615 stored elements in Compressed Sparse Row format>

In [23]:
resume_tf_idf @ corpus_tf_idf.T

<962x100 sparse matrix of type '<class 'numpy.float64'>'
	with 94583 stored elements in Compressed Sparse Row format>

In [24]:
import unicodedata

In [27]:
df_resumes.Resume

0      Skills * Programming Languages: Python (pandas...
1      Education Details \r\nMay 2013 to May 2017 B.E...
2      Areas of Interest Deep Learning, Control Syste...
3      Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4      Education Details \r\n MCA   YMCAUST,  Faridab...
                             ...
957    Computer Skills: â¢ Proficient in MS office (...
958    â Willingness to accept the challenges. â ...
959    PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960    COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961    Skill Set OS Windows XP/7/8/8.1/10 Database MY...
Name: Resume, Length: 962, dtype: object

In [39]:
import re
df_resumes.Resume.map(lambda example: re.sub('[\W]+', ' ', example))

0      Skills Programming Languages Python pandas num...
1      Education Details May 2013 to May 2017 B E UIT...
2      Areas of Interest Deep Learning Control System...
3      Skills â R â Python â SAP HANA â Tableau â SAP...
4      Education Details MCA YMCAUST Faridabad Haryan...
                             ...
957    Computer Skills â Proficient in MS office Word...
958    â Willingness to accept the challenges â Posit...
959    PERSONAL SKILLS â Quick learner â Eagerness to...
960    COMPUTER SKILLS SOFTWARE KNOWLEDGE MS Power Po...
961    Skill Set OS Windows XP 7 8 8 1 10 Database MY...
Name: Resume, Length: 962, dtype: object

In [ ]:
re s